@mixin about-tile
    display: block
    min-height: 181px
    box-sizing: border-box
    padding: 15px 30px 13px 40px
    text-decoration: none
    &:hover
        text-decoration: none

@mixin about-tile__title($color: #ffffff)
    display: block
    margin: 30px 0 15px
    font-size: 24px
    font-weight: 900
    letter-spacing: 0.24px
    color: $color

.pagetitle--about
    margin-bottom: 75px

.about-settlement
    @include about-tile
    background:  url('../img/gradient-about.png') 0% 0% no-repeat, #1c97c7 url('../img/about-settlement.jpg') 50% 50% no-repeat
    background-size: auto, cover

.about-settlement__title
    @include about-tile__title

.about-news
    @include about-tile
    background-color: #f7f7f7

.about-news__title
    @include about-tile__title
    color: #2c8dbb

.about-news-last
    margin-top: 5px
    margin-left: 25px
    &:first-of-type
        margin-bottom: 25px

.about-news-last__date
    display: block
    margin-bottom: 6px
    color: #ababab
    font-size: 10.5px
    font-weight: 700
    letter-spacing: 0.25px

.about-news-last__title
    display: inline-block
    color: #006699
    font-weight: 700
    font-size: 12.5px
    line-height: 1.6
    letter-spacing: -0.2px

.about-history
    @include about-tile
    background:  url('../img/gradient-about.png') 0% 0% no-repeat, #f7f7f7 url('../img/about-history.jpg') 50% 50% no-repeat
    background-size: auto, cover

.about-history__title
     @include about-tile__title

.about-honor
    @include about-tile
    background:  url('../img/gradient-about.png') 0% 0% no-repeat, #219c96 url('../img/about-honor.jpg') 50% 50% no-repeat
    background-size: auto, cover
    background-color: #f7f7f7  

.about-honor__title
    @include about-tile__title
     

.about-symbol
    @include about-tile
    background:  url('../img/gradient-about.png') 0% 0% no-repeat, #d59107 url('../img/about-symbol.jpg') 50% 50% no-repeat
    background-size: auto, cover

.about-symbol__title
     @include about-tile__title

.about-gallery
    @include about-tile
    background:  url('../img/gradient-about.png') 0% 0% no-repeat, #1c97c7 url('../img/about-gallery.jpg') 50% 50% no-repeat
    background-size: auto, cover

.about-gallery__title
    @include about-tile__title

.about__text
    margin: 63px 0 140px