@mixin footer-title
    margin-bottom: 13px
    text-shadow: 0 -1px 0 #000000
    color: #999999
    font-size: 16px
    font-weight: 900
    text-transform: uppercase
    letter-spacing: 0.4px
    line-height: 1.32

@mixin footer-link
    text-shadow: 0 -1px 0 #000000
    color: #999999
    font-family: Lato
    font-size: 16px
    font-weight: 400
    text-decoration: underline
    text-align: center
    &:hover
        color: #ffffff

.footer__background
    background-color: #494949

.footer__nav
    padding-top: 38px
    padding-bottom: 95px

.footer-owner
    margin-bottom: 65px
    text-align: center

.footer-owner__logo
    margin-bottom: 10px

.footer-owner__text
    color: #999999
    font-size: 12px
    font-weight: 400
    letter-spacing: 0.12px
    line-height: 1.3


.footer-phones__title
    @include footer-title
    text-align: center

.footer-section__list,
.footer-phones__pool,
.footer-emails__pool
    margin: 0
    padding: 0
    list-style-type: none

.footer-phones
    margin-bottom: 50px
    
.footer-phones__pool
    li  
        margin-bottom: 1px
        line-height: 1
        text-align: center
    a
        @include footer-link
        text-decoration: none
        
.footer-section
    margin-bottom: 47px

.footer-emails
    margin-left: 60px
    @media (max-width: $breakpoint-small-max)
        margin-left: 0px

.footer-emails__pool
    position: relative
    li
        margin-bottom: 5px
        line-height: 1
    a  
        @include footer-link
        padding-left: 25px 
        text-decoration: none
        position: relative
        &::before
            content: ''
            width: 16px
            height: 13px
            position: absolute
            top: 50%
            left: 0
            transform: translateY(-50%)
            background: url('../img/icon-letter.svg') 0 50% no-repeat
            background-size: 16px 13px
    span
        border-bottom: 1px dashed #8f8f98
    
.footer-section__title
    display: block
    margin-bottom: 24px
    @include footer-title
    &:hover
        color: #ffffff
        text-decoration: none

.footer-section__list
    li 
        margin-bottom: 1.5px
        line-height: 1  
    a
        @include footer-link

.footer-bar
    border-top: 1px solid #434242
    box-shadow: 0px 1px 1px #434242
    

.footer-bar__container
    position: relative
    padding: 15px 0 20px
    @media (max-width: $breakpoint-xsmall-max)
        padding-bottom: 68px

.footer-bar__counter
    position: absolute
    left: 34px
    top: 50%
    transform: translateY(-50%)
    @media (max-width: $breakpoint-small-max)
        left: 0
    @media (max-width: $breakpoint-xsmall-max)
        left: 10px
        transform: none

.footer-bar__sitemap
    @include footer-link
    margin-left: 165px
    margin-right: 78px
    @media (max-width: $breakpoint-small-max)
        margin-left: 107px
        margin-right: 38px
    @media (max-width: $breakpoint-xsmall-max)
        margin-left: 17px
        order: 2
        font-size: 12px

.footer-bar__date
    @include footer-link
    @media (max-width: $breakpoint-xsmall-max)
        font-size: 12px

.footer-bar__developers
    height: 33px
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    color: #999999
    font-size: 12px
    font-weight: 400
    text-decoration: none
    padding-right: 130px
    background: url('../img/developers-rest.png') 100% 50% no-repeat
    background-size: 122px 33px
    transition: 0.5s
    &:hover
        color: #999999
        text-decoration: none
        background-image: url('../img/developers-hover.png')
    span 
        @media (max-width: $breakpoint-xsmall-max)
            display: none
    @media (max-width: $breakpoint-xsmall-max)
        height: 25px
        top: 55%
        padding-right: 0
        padding-left: 65px
        padding-bottom: 33px
        background-position: 0 100%